[toolchain]
anchor_version = "0.31.1"
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
coinfun = "ihC7UqkLYWxQKVuYLiWNGqGvQCZb2ih4DXMLfyM6F68"

[programs.localnet]
coinfun = "ihC7UqkLYWxQKVuYLiWNGqGvQCZb2ih4DXMLfyM6F68"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "./id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 5000
shutdown_wait = 2000
upgradeable = false

[[test.genesis]]
address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"
program = "tests/metadata.so"
