[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
coinfun = "9oAMNonh6hoAru6fBsKbjtY13GeX3PwzsV49bTPfbxX3"

[programs.localnet]
coinfun = "9oAMNonh6hoAru6fBsKbjtY13GeX3PwzsV49bTPfbxX3"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "./id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
